.main {
    width: 981px;
    height: 455px;
    padding-left: 219px;
    margin-top: 10px;
}

.focus {
    width: 730px;
    height: 454px;
    position: relative;
    overflow: hidden;
}

.focus ul {
    width: 600%;
    position: absolute;
}

.focus li {
    float: left;
}

.newsflash {
    width: 251px;
    height: 455px;
}

.focus_arrow_left,
.focus_arrow_right {
    display: none;
    width: 24px;
    height: 40px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    top: 50%;
    margin-top: -20px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-family: icomoon;
    font-size: 18px;
    z-index: 2;
}

.circle .current {
    background-color: #fff;
}

.focus_arrow_right {
    right: 0;
}

.circle {
    position: absolute;
    bottom: 10px;
    left: 50px;
}

.circle li {
    float: left;
    width: 8px;
    height: 8px;
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    margin: 0 3px;
    cursor: pointer;
}

.current {
    background-color: #fff;
}

.news {
    height: 163px;
    border: 1px solid #ccc;
}

.lifeservice {
    height: 208px;
    border: 1px solid #ccc;
    border-top: none;
    overflow: hidden;
}

.bargin {
    height: 75px;
    margin-top: 5px;
}

.news_header {
    height: 32px;
    border-bottom: 1px dotted #ccc;
    font-family: icomoon;
    line-height: 32px;
    padding: 0 10px;
}

.news_header a {
    float: right;
}

.news_body {
    padding: 10px 0 0 10px;
}

.news_body li {
    height: 23px;
    ;
}

.lifeservice ul {
    width: 252px;
}

.lifeservice li {
    width: 62px;
    height: 69px;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    float: left;
    text-align: center;
    position: relative;
}

.lifeservice a {
    display: block;
    overflow: hidden;
}

.service_ico {
    display: block;
    width: 24px;
    height: 24px;
    background: url(../img/icons.png) no-repeat;
    margin: 13px auto 7px;
}

.service_ico_huafei {
    background-position: -16px -16px;
}

.service_ico_jipiao {
    background-position: -80px -16px;
}

.service_ico_dianyingpiao {
    background-position: -141px -16px;
}

.service_ico_youxi {
    background-position: -206px -16px;
}

.service_ico_caipiao {
    background-position: -17px -88px;
}

.service_ico_jiayouka {
    background-position: -80px -88px;
}

.service_ico_jiudian {
    background-position: -143px -88px;
}

.service_ico_huochepiao {
    background-position: -209px -88px;
}

.service_ico_zhongchou {
    background-position: -16px -159px;
}

.service_ico_licai {
    background-position: -79px -159px;
}

.service_ico_lipinka {
    background-position: -143px -159px;
}

.service_ico_baitiao {
    background-position: -208px -159px;
}

.hot {
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 15px;
    background: url("../img/jian.jpg") no-repeat;
}

.recommend {
    height: 163px;
    margin-top: 11px;
}

.recommend_hd {
    width: 209px;
    height: 100%;
    background-color: #5c5251;
    float: left;
    text-align: center;
}

.recommend_hd img {
    margin-top: 30px;
}

.recommend_hd p {
    margin-top: 10px;
    font-size: 18px;
    color: #dbdada;
}

.recommend_bd {
    width: 991px;
    height: 100%;
    float: left;
    background-color: #ebebeb;
    overflow: hidden;
}

.recommend_bd li {
    width: 246px;
    height: 143px;
    border-left: 1px solid #ccc;
    float: left;
    margin-top: 10px;
}

.last {
    border-right: none;
}

.floor {
    margin-top: 15px;
}

.floor_hd {
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #c81623;
}

.floor_hd h3 {
    float: left;
    font-size: 18px;
    color: #c81623;
}

.tab_list {
    float: right;
}

.tab_list li {
    float: left;
}

.tab_list li a {
    margin: 0 10px;
}

.floor_bd {
    height: 360px;
}

.floor_bd li {
    float: left;
}

.w209 {
    width: 209px;
}

.w .w329 {
    width: 329px;
}

.w220 {
    width: 220px;
}

.w219 {
    width: 219px;
}

.w219,
.w220 {
    border-right: 1px solid #ccc;
}

.w209 li {
    width: 88px;
    height: 32px;
    float: left;
    border-bottom: 1px solid #ccc;
    margin-left: 13px;
    line-height: 32px;
    text-align: center;
}

.fixedtool {
    width: 66px;
    position: fixed;
    top: 100px;
    left: 50%;
    margin-left: -676px;
    background-color: red;
    background-color: #fff;
    display: none;
}

.fixedtool li {
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}

.fixedtool .current {
    background-color: #c81623;
    color: #fff;
}